NEXT_PUBLIC_BACKEND_URL = http://localhost:8080/hysteryale/
NEXT_PUBLIC_FRONTEND_URL = /web-pricing-tools

# TODO: Remove those 2 configurations as we should not have them
IMAGE_TAG_ENV=12345
RELEASE_TAG_ENV=12345